@use '../base/variables' as v;
@use '../base/mixins' as m;

.dashboard{
    background-color: v.$grisClaro;

    @include m.tablet{
        display: flex;
        height: 100vh; //vh viewport height, altura de toda la pantalla
    }

    .principal{
        flex: 1; //Para que tome todo el ancho
        overflow: scroll;
    }

    .contenido{
        padding: 1.5rem;
        @include m.tablet{
            margin: 5rem 2rem;
        }

        @include m.desktop{
            margin: 5rem 8rem;
        }

        .nombre-pagina{
            font-size: 3.5rem;
            text-align: center;
        }
    }

    .formulario{
        input:not([type="submit"]){
            background-color: v.$blanco;
        }

        input[type="submit"]{
            @include m.boton(v.$indigo, v.$blanco);
            padding: 1.5rem;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    .enlace{
        color: v.$indigo;
        font-size: 2rem;
        &:hover{
            color: darken($color: v.$indigo, $amount: 30);
        }
    }
}